html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

header{
    font-weight: bold;
    font-size: larger;
}

image{
    align-items: left;
}

input{
    background-color: #cce6ff;
    font-size: larger;
}

input[type=checkbox]{
    font-size: large;
    size: 2cm;
    background-color: #cce6ff;
}
span{
    font-weight: 600;
    font-size: 25pt;
}